.title {
  font-family: "Times New Roman", Times, serif;
}

.body {
  background: white;
  margin: 0;
  padding: 0;
}

.page-link {
  display: inline;
}

.header {
  color: white;
  background: black;
  margin: 0;
  padding: 20px;
}

.sect {
  color: black;
  background: white;
  margin: 10%;
}

.footer {
  color: white;
  background: black;
  margin: 0;
  padding: 0;
}
