body {
  margin: 0;
  padding: 0;
}

header {
  background: black;
  color: white;
  margin: 0;
  padding: 0;
}

ul {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  list-style-type: none;
}

a.nav-bar:link, a.nav-bar:visited {
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

a.nav-bar:hover {
  color: #909090;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

section {
  color: black;
  background: white;
  opacity: 1;
  margin: 1% 3% 0 3%;
  padding: 0 3% 0 2%;
}

.title {
  font-family: "Times New Roman"
}
