.title {
  font-family: "Times New Roman", Times, serif;
}

.body {
  background: white;
  margin: 0;
  padding: 0;
}

.page-link {
  display: inline-block;
  width: 100px;
  height: 10px;
}

.links {
  display: flex;
  flex-direction: row;
}

.header {
  color: white;
  background: black;
  margin: 0;
  padding: 10%;
}

.sect {
  color: black;
  background: white;
  margin: 10%;
}

.footer {
  color: white;
  background: black;
  margin: 0;
  padding: 0;
}
