/*Layout*/
body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  position: relative;
  overflow-x: hidden;
}

header {
  background: black;
  color: white;
  margin: 0;
  padding: 5px;
}

section {
  color: black;
  background: white;
  opacity: 1;
  margin: 15px 15px 15px 15px;
  padding: 0px 15px 5px 10px;
}

.material-bg {
  position: relative;
  height: 100%;
  width: 100%;
  display: block;

  &::before {
    content: '';
    position: absolute;
    inset: 0;
    background-image: url('Backgrounds/BackgroundCell1.svg');
    background-size: cover;
    z-index: -1;
    opacity: 0.75;
  }

  & > section {
    border: gray solid 3px;
  }
}

.plasma-bg {
  position: relative;
  height: 100%;
  width: 100%;
  display: block;

  &::before {
    content: '';
    position: absolute;
    inset: 0;
    background-image: url('Backgrounds/Tokamak.webp');
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -1;
    opacity: 0.75;
  }

  & > section {
    border: rgb(145, 7, 145) solid 3px;
  }
}

.neutral-bg > section {
  border: black solid 3px;
}

.footer {
  color: white;
  background: black;
  opacity: 1;
  margin: 0;
  padding: 0;
  margin-top: auto;
}

/*Links for Navigation*/
.nav {
  margin: 0;
  padding: 0;
  list-style-type: none;
  overflow: hidden;
}

.nav a {
  color: white;
  background-color: black;
  padding: 14px 15px;
  text-align: center;
  text-decoration: none;
  float: left;
}

.search-container {
  float: right;
  overflow: hidden;
  position: relative;
}

.search-container .search-btn {
  border: none;
  display: inline-block;
  font-family: 'Times New Roman', Times, serif;
  font-size: medium;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  color: white;
  background-color: inherit;
  font-family: inherit;
  padding: 14px 15px;
}

.nav a:hover, .search-btn:hover, .search-btn:focus {
  color: #909090;
}

.search-content {
  display: none;
  min-width: 150px;
  padding: 12px 16px;
  z-index: 1;
  background-color: black;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.search-content a {
  float: none;
  color: white;
  text-decoration: none;
}

.search-container:hover .search-content {
  display: block;
}

/*Navigation cards*/
.cards {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.plasma-img {
  position: relative;
  margin: 2px;
  height: 150px;
  width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: rgb(145,7,145) solid 2px;

  &::before {
    content: '';
    position: absolute;
    inset: 0;
    background-image: url('Backgrounds/Tokamak.webp');
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.9;
  }

  &:hover::before {
      opacity: 0.5;
  }

  &:hover .URSS-card-text {
    opacity: 0.9;
    display: block;
  }
}

.material-img {
  position: relative;
  margin: 2px;
  height: 150px;
  width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: rgb(230, 130, 10) solid 2px;

  &::before {
    content: '';
    position: absolute;
    inset: 0;
    background-image: url('Graphics/Transition.png');
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.9;
  }

  &:hover::before {
      opacity: 0.5;
  }

  &:hover .Diss-card-text {
    opacity: 0.9;
    display: block;
  }
}

.URSS-card-text, .Diss-card-text {
  display: none;
  position: absolute;
  font-size: larger;
  color: black;
  opacity: 1;
}

/*Hoverable Text*/
a.hoverable:link, a.hoverable:visited {
  position: relative;
  color: black;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border: rgb(145,7,145) solid 1px;
}

a.hoverable .hoverableText {
  visibility: hidden;
  min-width: fit-content;
  bottom: 100%;
  left: 0%;
  background-color: #666;
  color: white;
  text-align: center;
  padding: 10px 5px;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
}

a.hoverable .hoverableText::after {
  content: " ";
  position: absolute;
  top: 100%;
  right: 88%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #666 transparent transparent transparent;
}

a.hoverable:hover {
  color: darkgray;
}

a.hoverable:hover .hoverableText {
  visibility: visible;
}


/*Buttons and Videos*/
video {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
  width: 80%;
  border: 1px solid black;
}

.collapsible {
  background-color: #fff;
  color: #444;
  cursor: pointer;
  width: 50px;
  border: rgb(145, 7, 145) solid 1px;
}

.active, .collapsible:hover {
  background-color: #ddd;
}

.content{
  display: none;
  overflow: hidden;
  padding-left: 10px;
  padding-right: 10px;
  width: fit-content;
  background-color: #f1f1f1;
}

.up {
  color: black;
  border: rgba(0,0,0,0.2) solid 1px;
  background-color: rgba(230, 230, 230, 0.2);
  text-decoration: none;
  position: fixed;
  top: 92%;
  right: 0%;
  padding: 5px 10px;
  margin: 10px;

  &:hover {
    content: '';
    background-color: rgba(230, 230, 230, 0.95);
    border: rgba(0,0,0,0.95) solid 1px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.3);
  }
}


/*Page Text Content*/
h1 {
  font-size: xx-large;
  font-weight: bold;
}

h2 {
  font-size: x-large;
  font-weight: bold;
}

h3 {
  font-size: large;
  margin-top: 0;
  margin-bottom: 0;
}

.definition {
  border-left: rgb(230, 30, 30) solid 2px;
  padding-left: 2px;
}

.theorem {
  border-left: rgb(30, 30, 190) solid 2px;
  padding-left: 2px;
}

.lemma {
  border-left: purple solid 2px;
  padding-left: 2px;
}